
<%- include('partials/header') %>

<div class="text-center bg-light py-5 ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12">
          <h1 class="display-5 fw-bold text-danger text-center"> Sortei a sua mensagem do dia 💌</h1>
          <br>
          <br>
          <br>
       </div>
</div>

<div class="text-center">
  <div class="card p-4 shadow-sm">
    <blockquote class="blockquote mb-0">
      <p><%= frase %></p>
    </blockquote>
  </div>
  <a href="/" class="btn btn-danger mt-4">Nova Mensagem</a>
</div>
</div>
</div>

<%- include('partials/footer') %>
